* {
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

.banner {
    color:#ffffff;
    background-color:#566e10;
    padding:15px;
    text-align:center;
    font-size: 1.2vw;
}

.container {
    overflow: hidden;
}

.main {
    padding-left: .5%;
    padding-right: .5%;
}

.main {
    text-align:center;
    float: left;
    display: block;
    width: 100%;
}
table {
    font-size: 1.7vw;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #dddddd; 
    border-bottom: 1px solid #dddddd; 
    table-layout: fixed;

}
td, th {
    text-align: left;
    padding: 8px;
}

td:nth-child(2) {
    text-align: center;
}

td:last-child {
    text-align: right;
}

@media only screen and (max-width: 1200px) {
    .main {
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .banner {
        font-size: 3vw;
    }
    table {
        font-size: 4vw;
        width: 100%;
    }
}

